div.ontheweblinks section ul li {
    float: left;
    width: 25%;
    list-style-type: none;
}

div.ontheweblinks a {
    display: block;

    background-color: #eee;

    margin: 0.5em;
    padding: 0.5em;

    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}

div.ontheweblinks section ul {
    overflow: auto;
}