
div.testimonial_left p, div.testimonial_right p { font-size: 18px; }

div.testimonial_left span.testimonial_letter { float: right; }
div.testimonial_right span.testimonial_letter { float: left; }

span.testimonial_letter {
  display: inline-block;
  background-image: url("../images/paper.jpg");
  padding: 1em;
  margin: 2em;
  border: solid #ccc;
  border-width: 0 1px 1px 0;
}

div.testimonial_left .note, div.testimonial_right .note {
  font-style: italic;
  background-color: #fcf;
  border: solid #c9c;
  border-width: 0 1px 1px 0;
  padding: 3px 3px 0 3px;
}

.attribution {
  font-style: italic;
  text-align: right;
}

.attribution:before {
  content: "— ";
}